<html>
  <head>
    <style>
      p {
        display: inline-block;
        font-size: 30px;
      }

      .main-container {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="main-container">
      <p>
        <%= display %>
      </p>
      <form>
        <label>String: </label>
        <input type='text' name='string' />
        <input type='submit' value='Guess!' />
      </form>
    </div>
  </body>
</html>
